<!-- Liste de participants d'une saison -->
<ul class="participant-list">
  @for (participant of participants(); track participant.id) {
    <li class="participant-list__item">
      <div class="participant-list__info">
        <span class="participant-list__user">{{ participant.userName }}</span>
        <span class="participant-list__team">{{ participant.teamName }}</span>
        @if (participant.isOrganizer) {
          <span class="participant-list__badge">🏆 Organisateur</span>
        }
      </div>

      @if (showActions()) {
        <div class="participant-list__actions">
          <button class="participant-list__validate" type="button" (click)="onValidate(participant.id, true)">
            Valider
          </button>
          <button class="participant-list__reject" type="button" (click)="onValidate(participant.id, false)">
            Refuser
          </button>
        </div>
      }
    </li>
  } @empty {
    <li class="participant-list__empty">Aucun participant.</li>
  }
</ul>
